<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posada de La Laguna</title>
  <base href="/">
  <link rel="stylesheet" href="styles/lib-02810b508f.css">

  <link rel="stylesheet" href="styles/app-3adc75ae0f.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="/index" class="hidden-lg logo center-block">
          <img src="images/logo_blanco.png" alt="">
        </a>
        <button type="button" class="hidden-lg navbar-toggle center-block" ng-click="estaColapsado = !estaColapsado">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" uib-collapse="!estaColapsado">
        <ul class="nav navbar-nav">
          <li class="visible-lg">
            <a href="/index" class="logo">
              <img src="images/logo_blanco.png" alt="">
            </a>
          </li>
          <li>
            <a ui-sref="lodge" href="/lodge">{{'load.partial.menu.ITEM_1' | translate}}</a>
          </li>
          <li>
            <a ui-sref="actividades" href="/actividades">{{'load.partial.menu.ITEM_2' | translate}}</a>
          </li>
          <li>
            <a ui-sref="birdwatching" href="/birdwatching">{{'load.partial.menu.ITEM_3' | translate}}</a>
          </li>
          <li>
            <a ui-sref="reserva" href="/reserva">{{'load.partial.menu.ITEM_4' | translate}}</a>
          </li>
          <li>
            <a ui-sref="prensa" href="/prensa">{{'load.partial.menu.ITEM_5' | translate}}</a>
          </li>
          <li>
            <a ui-sref="contacto" href="/contacto">{{'load.partial.menu.ITEM_6' | translate}}</a>
          </li>
          <li>
            <a ui-sref="indicaciones" href="/indicaciones">{{'load.partial.menu.ITEM_7' | translate}}</a>
          </li>
          <li ng-controller="MenuController as vm">
              <a style="float:left" href="#" ng-click="vm.change('es')">
                  <img src="images/es.svg" width="14px" height="14px" alt="">
                </a>
                <a style="float:left" href="#" ng-click="vm.change('en')">
                    <img src="images/us.svg" width="14px" height="14px" alt="">
                  </a>
                  <a style="float:left" href="#" ng-click="vm.change('')">
                      <img src="images/fr.svg" width="14px" height="14px" alt="">
                    </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </header>

  <div class="main container visible-lg" ui-view>
  </div>

  <div class="main-mobile shrink container hidden-lg" ui-view>
  </div>

  <footer class="footer">
    <div class="container text-center">
      <p>{{'load.partial.menu.FOOTER_TEL1' | translate}}</p>
      <p>{{'load.partial.menu.FOOTER_TEL2' | translate}}</p>
    </div>
    <div class="text-center">
      <a href="http://">reservas@esterosdelibera.com</a>
      <a href="">
        <i class="fa fa-facebook fa-lg"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram fa-lg"></i>
      </a>
      <a href="">
        <i class="fa fa-tripadvisor fa-lg"></i>
      </a>
    </div>
  </footer>

</body>



<script src="js/lib-8a988ba03c.js"></script>

<script src="js/app-01025750e1.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('body').vegas({
      slides: [{
        src: "images/slider_9.png"
      }, {
        src: "images/slider_2.jpg"
      }, {
        src: "images/slider_4.png"
      }, {
        src: "images/slider_6.jpg"
      }, {
        src: "images/carpinchoInsta.jpg"
      }, {
        src: "images/slider_5.png"
      }, {
        src: "images/Ave2.jpg"
      }, {
        src: "images/slider_8.jpg"
      }, {
        src: "images/PosadaNoche.jpg"
      }]
    }).vegas('play');
  });

</script>
</body>

</html>
