/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

ol, ul, li{
    list-style:none;
}

h1, h2, h3, h4, h5 {
  font-family: 'GothamLight';
  margin: 0;
  padding: 0;
  color: #FFF;
  font-weight: normal;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
body {
  color:#fff;
  color: rgb(255, 255, 255);
  //text-align: center;
  //text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.vegas-timer{
  display: none;
}

.social > li{
  padding-top: 15px;
  margin-left: 10px;
  float: left;
}

.social > li > a:hover{
  color: #86a22c;
}

.lang > li > a{
  height: 11px;
  width: 16px;
  background-position: top center;
  background-repeat: no-repeat;
  float: left; 
}
.lang a:hover{
	background-position:bottom center;
	}

.lang a.active{
	background-position:bottom center;
	}	

.navbar-brand{
  font-family: 'GothamLight';
  font-size: 25px;
}



.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-brand{
  color: #fff; /* IE8 proofing */
}


.navbar-default .navbar-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid transparent;
  color: #fff; /* IE8 proofing */
}

.navbar-default .navbar-nav > li > a:hover{
  color: #86a22c;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: transparent;
  border-bottom-color: #333;
  color: #fff; /* IE8 proofing */
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color:transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.dropdown-menu{
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: none;
}

.dropdown-toggle{
  background-color: transparent;
}

.main{
  margin-top: 50px;
  height: 80%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.well {
  height: 40%;
  width: 80%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  /* Vertically center the text there */
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: white;

}



@media screen and (max-width: 800px)
{
.header {
    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: rgba(0,0,0,.5);
    z-index: 999999;
    padding: 25px 0;
  }
}


.texto{
	text-align:right;
	width:500px;
	position:absolute;
	left: 630px;
	top: 110px;
	}
	
.texto p{
	text-align:right;
	color:#FFF;
	font-size:12pt;
	line-height:18pt;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: 'GothamBook';*/
	margin:-5px 0 15px 0;
	float:right;
	}

  h1 , h2 , h3 , h4 , h5{
	font-family:"Times New Roman", Times, serif;
	margin:0;
	padding:0;
	color:#FFF;
	font-weight:normal;
	}
  
  h1{
      text-transform: uppercase;
  }
.seccion h1{
	/*background:url(../img/linea_quienes_somos.png) no-repeat right top;*/
	width:380px;
	height:60px;
	padding:30px 50px 0 0;
	float:right;
	margin-right: -50px;
	}

  .btns {
    width: 100%;
    float: right;
    clear: both;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'GothamBook'; */
    text-transform: uppercase;
    font-size: 10pt;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: color .5s linear, background-color .5s ease-in-out;
    -moz-transition: color .5s linear, background-color .5s ease-in-out;
    -o-transition: color .5s linear, background-color .5s ease-in-out;
    transition: color .5s linear, background-color .5s ease-in-out;
}

a {
    outline: none;
}